.form__color-picker-wrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.form__color-picker-wrapper > p {
    font-weight: bold;
    margin-right: 30px;
}
.form__color-picker-wrapper input {
    flex-grow: 1;
    height: 50px;
    outline: none;
    background: none;
    border: none;
}