@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("./material-form");
@import url("./click-animation");
@import url("./transitions");
@import url("./custom-global-elements");
@import url("./my-common-elements");
@import url("./sharable-stylings");



/* PAGE TRANSITION */
.page-enter-active {
    transition: transform .4s, opacity .5s;
}
.page-enter {
    opacity: 0;
    transform: scale(.98);
}
/* END OF PAGE TRANSITION */



.total_darkness {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.533);
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
}


.the_big_frame {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
}

.common_ls_cntainr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}.--dtail-app-bar {
    padding-top: 64px;
    padding-bottom: 75px;
}.common_ls_cntainr.--top-lev-app-bar {
    padding-top: 69px;
    padding-bottom: 120px;
}.common_ls_cntainr.--top-lev-app-bar.--with-tabs {
    padding-top: 105px !important;
}
