@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("./material-form");
@import url("./click-animation");
@import url("./transitions");
@import url("./custom-global-elements");
@import url("./my-common-elements");
@import url("./sharable-stylings");
@import url("./docs");



.total_darkness {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-bg {
    background: none;
}
.is-fixed {
    position: fixed;
    z-index: 9999999;
}


.the_big_frame {
    height: 100vh;
    width: 100%;
    display: flex;
}

.common_ls_cntainr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}.--dtail-app-bar {
    padding-top: 64px;
    padding-bottom: 75px;
}.--with-tabs {
    padding-top: 25px;
}.common_ls_cntainr.--top-lev-app-bar {
    padding-top: 69px;
    padding-bottom: 120px;
}.common_ls_cntainr.--top-lev-app-bar.--with-tabs {
    padding-top: 105px !important;
}
.common_ls_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}