.pfp {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.cmty_ico {
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
}


.cards-wrapper {
    padding-right: 6px !important;
    padding-left: 6px !important;
}
.card {
    background-color: #fff;
    border-radius: 15px;
}

.app-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 56px;
}



.create-procedure-form {
    width: 100%;
    padding: 60px 15px;
    overflow: hidden;
    position: relative;
}
.create-form-wrapper {
    padding: 0 !important;
}
.create-form__title {
    background: linear-gradient(60deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    display: inline-block;
    margin-bottom: 10px;
}
.create-form__btn {
    margin: 50px 0;
}
.auth-form__redirct {
    margin-bottom: 20px;
    margin-right: 39px;
    display: inline-block;
    font-size: 15px;
}