
.pfp {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.cmnty_ico {
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    border-radius: 25%;
}


.cards-wrapper {
    padding-right: 6px !important;
    padding-left: 6px !important;
}
.card {
    background-color: #fff;
    border-radius: 15px;
}

.app-bar {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    z-index: 9;
    
    height: 56px;
}

h3.empty-fetchedLs {
    color: #999;
    margin: 30px;
    text-align: center;
}